.login_img {
  height: 100%;
  width: 100%;
}

.logo_img {
  width: 228px;
  margin-right: 29px;
  height: 200px;
}

.nominee_btn {
  background-color: #f15c2c;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  margin-top: 22px;
}

.sigin_btn {
  width: 100%;
  margin-top: 43px;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.btn_container {
  text-align: center;
}

.label_text {
  margin-top: 30px;
}

.span_account {
  color: #cccccb;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}
