<div class="">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img class="login_img" src="/assets/images/login_bg.png">

        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <div style="float: right;">
                        <img class="logo_img" src="/assets/images/logo.png">
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-10 col-sm-12" style="margin: 5%;">
                    <form>

                        <h3> Record Holder Sign In </h3>
                        <span class="span_account">Sigin if you have account here.</span>
                        <div class="form-group">
                            <label for="" class="label_text">Your Mobile Number</label>
                            <input type="text" [(ngModel)]="mobile_number" name="mobile_number"
                                placeholder="Enter the mobile number" class="form-control">
                        </div>
                        <div class="form-group btn_container">
                            <button class="btn btn-primary sigin_btn" type="submit" (click)="siginIn()">Sigin With
                                OTP</button><br>
                            <label for=""> Not a Member ? <span style="color: blue;">Sigin up</span> </label><br>
                            <button class="btn btn-primary nominee_btn" type="btn">Nominee login</button>
                        </div>


                    </form>
                </div>

            </div>


        </div>
    </div>
</div>