<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h3>DASHBOARD</h3>
        </div>
        <div class="col-lg-7">
            <button class="btn btn-primary" style="float: right;" type="btn" (click)="addNewRecord()">ADD NEW
                RECORD</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text_container">
            <b>Privacy Toggle:</b> Aditional SMS confirmation can be enable before nominee are given access to your
            record.
            <span style="color: blue;"> Click here to change perference </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr style="border-bottom: 2px solid white; color: white">
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Insituation Name</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of listOfDocument; let j=index;let i of listOfDocument">
                        <th scope="row">{{j+1}}</th>
                        <td>{{data.product_name}}</td>
                        <td>{{data.institution_name}}</td>
                        <th scope="col">E</th>
                        <td> <img class="edit" (click)="selectedRow(i)" src="/assets/images/pencils.png"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>