.login_img {
  height: 100%;
  width: 100%;
}

.verify_btn {
  width: 100%;
  margin-top: 43px;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.btn_container {
  text-align: center;
}

.label_text {
  margin-top: 30px;
}

.span_account {
  color: #cccccb;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}
