<div class="">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img class="login_img" src="/assets/images/otp-bg.png">

        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-lg-10 col-sm-12" style="margin: 5%;">
                    <form>

                        <h3> Otp verfication </h3>
                        <span class="span_account">Verifiy your mobile number</span>
                        <div class="form-group">
                            <label for="" class="label_text">OTP</label>
                            <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" class="form-control">
                            <label style="float: right;">Resend OTP ? <span style="color: blue;">Resend </span></label>
                        </div>
                        <div class="form-group btn_container">
                            <button class="btn btn-primary verify_btn" type="submit" (click)="Verifiy()">Verifiy mobile
                                number</button><br>

                        </div>


                    </form>
                </div>

            </div>


        </div>
    </div>
</div>