<div class="container">
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-lg-5">
            <h3>{{title}}</h3>
        </div>
    </div>
    <form [formGroup]="protuctForm">
        <div class="row text_row">


            <div class="col-lg-6">
                <input type="text" formControlName="product" name="product" class="form-control custom_input" id=""
                    placeholder="Product">
            </div>
            <div class="col-lg-6">
                <input type="text" formControlName="Institution" name="Institution" class="form-control custom_input"
                    id="" placeholder="Bank Name">
            </div>
        </div>

        <div class="row text_row">
            <div class="col-lg-6">
                <input type="text" formControlName="branch" name="branch" class="form-control" id=""
                    placeholder="Bank Branch">
            </div>
            <div class="col-lg-6">
                <input type="date" class="form-control" formControlName="expiry_date" name="expiry_date" id=""
                    placeholder="dd-mm-yyyy">
            </div>
        </div>
        <div class="row text_row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <textarea class="form-control" formControlName="comments" name="comments"
                    placeholder="Enter your comments here"></textarea>
            </div>
        </div>
        <div class="row text_row">
            <div class="col-lg-6">
                <label for="">Attachment</label><br>

                <input type="file" (change)="uploadFile($event)" name="file"><br>
                <label for="" class="span_account">JPG/PDF supported, upto 2MP. Please use an online PDF compression
                    tool if
                    required</label>
            </div>

        </div>

        <div class="row" style="text-align: center;">
            <div class="col-lg-12">
                <button class="btn btn-primary" type="btn" (click)="record()"> {{btnTitle}}
                </button>
            </div>

        </div>
    </form>
</div>