<div class="toolbar" role="banner">

    <div class="row">
        <div class="col-lg-5">
            <img class="logo_img" src="/assets/images/orangelogo.jpg">
        </div>
        <div class="col-lg-7">

            <nav class="menu_list">
                <li>Dashboard</li>
                <li>Nominee</li>
                <li>My Account</li>
                <li>Invite & Gift a Friend</li>
                <li>Log out</li>
            </nav>
        </div>
    </div>






</div>