:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  align-items: center;
  background-color: #f15e30;
  color: white;
  font-weight: 600;
}

.logo_img {
  height: 58px;
  margin-left: 25%;
}
.menu_list {
  display: inline-flex;
  list-style: none;
  margin: 3px;
}

li {
  padding: 12px 22px;
  cursor: pointer;
}
